uvf=./DATA/TEST/GY_test.uvfits
img=./img_ring_true_gmva_flux.fits
rescaling=0.05
zbl=2.5
grid_size=10
seed_initial=12
l1w=1.0
simple=0.1
tv=10.0
tv2=10.0
lA=10.0
flux=1.0
epsilon=1.0
vis=0.0
amp=0.0
cphase=1.0
logcamp=0.0
prior_fwhm=40
num_cores=400
generations=1000
neighbours=2
decomposition_method=grid
decomposition_seed=12
CR=1.0
F=0.5
eta_m=20.0
realb=0.9
limit=2
preserve_diversity=True
mode=shapley
